<div class="row mt-4">
  <div class="col">
    <h3>List Details</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5>
      <%= @list.name %>
    </h5>
  </div>
</div>