<div class="row mt-5">
  <div class="col">
    <h3>ToDo List MVC Page</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-1">
  <div class="col">
    <h4>Create ToDo Lists and have fun</h4>
    <div class="mt-4">
      <p>
        <%= link_to "Signup for an Account", new_user_path %>
      </p>
      <p>
        <%= link_to "Login to your Account", login_path %>
      </p>
      <hr>
      <p>
        <%= link_to "View Lists", lists_path %>
      </p>
    </div>
  </div>
</div>