<%= li_for_item(item) do %>
  <%= form_for_item_status(item) %>
  <span class="pl-3">
    <%= item.description %>
  </span>
  <span class="float-right">
    <%= button_to list_item_path(item.list, item), method: :delete, class: "close" do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  </span>
<% end %>
