<div class="row mt-4">
  <div class="col">
    <h1>ToDo MVC - App</h1>
    <p><%= @welcome %></p>
  </div>
</div>
<div class="row">
  <div class="col">
  </div>
</div>
<div class="row">
  <!-- list begin -->
  <div class="col border my-1 mx-4 p-4 bg-dark text-white rounded shadow">
    <h4 class="mt-n2">List Title</h4>
    <ul class="list-group text-dark">
      <li class="list-group-item py-3">
        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="New Item">
            </div>
          </div>
        </form>
      </li>
      <li class="list-group-item py-3">
        <a href="#">List One</a>
      </li>
      <li class="list-group-item py-3">
        <a href="#">List Two</a>
      </li>
      <li class="list-group-item py-3">
        <a href="#">List Three</a>
      </li>
      <%# <li class="list-group-item py-3 bg-light text-dark">
        <div class="float-left pt-2">
          1 Item Left
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-outline-primary">All</button>
          <button type="button" class="btn btn-outline-primary">Active</button>
          <button type="button" class="btn btn-outline-primary">Completed</button>
        </div>
      </li> %>
    </ul>
  </div>
  <!-- list end -->
</div>