// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  border: 1px solid red;
  border-radius: 0.25rem;
}

.completed span {
  text-decoration: line-through;
}

.check-form {
  display: inline-block;
}